/* MAIN SELECTORS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


/* HEADER */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto;
}

.header-content .toggler {
    display: flex;
    gap: 1em;
}



/* BIG CARDS */

.big-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.big-card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.big-card-content .big-card-img {
    display: flex;
    justify-content: center;
}


/* SECOND HEADER */




/* SMALL CARDS */

.small-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



/* CLASSES UTILITAIRES */

.container {
    width: 85%;
    margin: auto;
}